<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <title>Welcome</title>
</head>
<body>
  <div class="navbar">
    <div class="logo-container">
      <h2 class="logo">Members Only 🤫</h2>
    </div>
    <div class="buttons-container">
      <% if (user) { %>
        <a href="/auth/log-out" class="button">Log out</a>
      <% } else { %>
        <a href="/auth/log-in" class="button">Log In</a>
        <a href="/auth/sign-up" class="button">Register</a>
      <% } %>
    </div>
  </div>
  <% if (user) { %>
    <div class="home-message">
      <p class="welcome-message">Welcome back <%= user.username %></p>
      <% if (user.isMember) { %>
        <p class="membership-message">You have a membership</p>
      <% } %>
    </div>
  <% } %>
  <div class="chat">
    <div class="chat-title">
      <h3>chat</h3>
    </div>
    <div class="messages-container">
      <div class="message-card">
        <% messages.forEach(function(message) { %>
          <h4><%= message.title %></h4>
          <p><%= message.body %></p>
          <% if (user && user.isMember) { %>
            <p class="author-info">by: <%= message.author.username %> on <%= message.timestamp %></p>
          <% } else { %>
            <p class="author-info">by: ******* on ******* </p>
          <% } %>
        <% }); %>
      </div>
    </div>
    <% if (user && user.isMember) { %>
      <div class="send-container">
        <form action="/message" method="POST">
          <input type="text" name="title" placeholder="Title">
          <textarea name="message" placeholder="Message"></textarea>
          <button type="submit" class="button">Send New Message</button>
        </form>
      </div>
    <% } %>
  </div>
  <div>
    <% if (!user) { %>
      <p class="membership-message" style="text-align: center;">Log in or create an account to chat</p>
      <% } %>
  </div>
  
  <% if (user && !user.isMember) { %>
    <p>You are not a member of the Club</p>
    <form action="/auth/club/join" method="POST">
      <label for="passcode">Enter the secret passcode to become a member: </label>
      <input type="text" name="passcode">
      <button type="submit">Join now</button>
    </form>
  <% } %>
</body>
</html>
